/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article,
h1, h2, p, strong, em, a, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  margin-top: 80px;
}

.logins {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logins_header {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

.logins_switch {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indexPostPicture {
  float: left;
  padding: 20px;
}

.post_index_ul {
  width: 1000px;
  position: relative;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.post_show_caption {
  float: left;
  padding: 20px 30px;
  width: 400px;
  overflow: auto;
  box-sizing: border-box;
}

.post_show_picture {
  float: left;
  width: 600px;
}


.show_div {
  position: relative;
  width: 1000px;
  height: 100%;
  background: white;
  top: 50%;
  left: 48%;
  transform: translate(-50%);
}

.feed_item {
  width: 540px;
  height: 100%;
  background: white;
  margin-left: 300px;
  border-color: rgb(137, 154, 140);
  border-width: 20px;
  border-style: solid;
}

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.bar {
  top: 0%;
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: hsla(202, 25%, 68%, 0.63);
  padding: 10px;
  z-index: 50;
}

.icon {
  float:left;
  margin-left: 20px;
}

.logout {
  float: right;
}

.navbar-ul {
  margin: 0;
}

.search {
  float: left;
  margin-left: 30px;
}

ul {
  list-style-type: none;
  width: 100%;

}

html {
  background: url(http://img05.deviantart.net/5ca5/i/2014/094/e/b/steampunk_concept_by_tyleredlinart-d7czbvr.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}
