/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

 html, body, section, article,
h1, h2, p, strong, em, a, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  margin-top: 80px;
}

.logins_container {
  height: 353px;
  width: 555px;
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logins {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logins_header {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  font-size: x-large;
  color: rgba(29, 111, 111, 0.61);
}

#user_username {
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 5px;
  border-color: rgba(128, 128, 128, 0.62);
  background-color: rgba(255, 255, 255, 0.68);
  width: 200px;
}

#user_password {
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 5px;
  border-color: rgba(128, 128, 128, 0.62);
  background-color: rgba(255, 255, 255, 0.68);
  width: 200px;
}

.login_submit_button {
  position: absolute;
  left: -999%;
}

.logins_switch {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  color: rgba(11, 11, 93, 0.49);
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.logins_switch:hover {
  color: rgba(220, 11, 94, 0.57);
}

.guest_button {
  margin-top: 25px;
  background-color:rgba(21, 62, 32, 0.4);
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.guest_button:hover {
  background-color:rgba(68, 199, 103, 0.4);
}
.guest_button:active {
	position:relative;
	top:1px;
}

.indexPostPicture {
  float: left;
  padding: 10px;
  margin: 15px;
  border-style: solid;
  border-color: #D06E4A;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.indexPostPicture:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.post_index_ul {
  width: 1020px;
  position: relative;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.post_show_caption {
  float: left;
  padding: 20px 30px;
  width: 400px;
  overflow: auto;
  box-sizing: border-box;
}

.post_show_picture {
  float: left;
  width: 600px;
}

.post_delete_icon {
  padding: 5px;
    position: absolute;
    margin: 5px;
    border-style: solid;
    border-radius: 7px;
    border-color: #F7E7D3;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.post_delete_icon:hover {
  background-color: white;
}

.show_div {
  position: relative;
  width: 1020px;
  height: 100%;
  background: rgba(255, 255, 255, 0.73);
  top: 50%;
  left: 48%;
  transform: translate(-50%);
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: rgba(109, 85, 54, 0.32);
}

.empty_feed_message {
  position: absolute;
  left: 30%;
  top: 150px;
  padding: 50px;
  margin: 50px;
  border-style: solid;
  border-radius: 10px;
  border-width: 8px;
  border-color: rgba(80, 80, 156, 0.31);
  background-color: rgba(255, 255, 255, 0.58);
  color: rgba(44, 70, 44, 0.66);
}

.empty_index_message {
  position: absolute;
  left: 27%;
  top: 240px;
  padding: 50px;
  margin: 50px;
  border-style: solid;
  border-radius: 10px;
  border-width: 8px;
  border-color: rgba(80, 80, 156, 0.31);
  background-color: rgba(255, 255, 255, 0.58);
  color: rgba(44, 70, 44, 0.66);
}

.feed_item {
  width: 540px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 350px;
  border-color: rgba(35, 62, 39, 0.26);
  border-width: 20px;
  border-style: solid;
}

.feed_item_username {
  padding: 10px;
  font-style: oblique;
  border-radius: 10px;
  float: left;
  width: auto;
  margin: 20px;
  border-style: solid;
  color: #686D4F;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.feed_item_username:hover {
  background: salmon;
}

.feed_item_caption {
  float: left;
  padding: 35px 30px 30px 65px;
  color: rgb(104, 109, 79);
}

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  cursor: default;
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}
.bar {
  top: 0%;
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: hsla(202, 25%, 68%, 0.63);
  padding: 10px;
  z-index: 50;
}

.navbar_buttons {
  -moz-box-shadow: 0px 6px 14px -7px #273173;
	-webkit-box-shadow: 0px 6px 14px -7px #273173;
	box-shadow: 0px 6px 14px -7px #273173;
	background-color:rgba(18, 110, 208, 0.4);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor: default;
	color:#f2f2f2;
	font-family:'Old Standard TT', serif;
	font-size:12px;
	font-weight:bold;
	padding:3px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
  font-style: italic;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.navbar_buttons:hover {
	background-color:#288c8f;
}
.navbar_buttons:active {
	position:relative;
	top:1px;
}

.icon {
  float:left;
  margin-left: 20px;
}

.con_name {
  float:left;
  margin-left: 20px;
  font-size: 18px;
}

.con_site {
  float:left;
  margin-left: 20px;
  font-size: 18px;
}

.logout {
  float: right;
}

.navbar-ul {
  margin: 0;
}

.search {
  float: right;
  padding-right: 200px;
}

.search_input {
  font-family:'Old Standard TT', serif;
  font-style: italic;
}

.search_option_ul {
  position: absolute;
  width:auto;
}

.search_option_item {
  position: relative;
  z-index: 90;
  background-color: rgba(255, 255, 255, 0.57);
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  padding: 3px;
  margin: 4px;
  font-size: smaller;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.search_option_item:hover {
  background-color: rgba(222, 102, 102, 0.57);
}

.comments_section {
  float: left;
  padding-left: 30px;
}

.comment_index {
  float: left;
  width: 370px;
  height: 460px;
}

.single_comment {
  border-style: solid;
  margin-right: 30px;
  margin-bottom: 5px;
  border-radius: 7px;
  border-color: rgba(163, 172, 214, 0.6);
}

#delete_icon {
  float: right;
  margin: 8px;
}

.comment_content {
  float: left;
  margin-bottom: 10px;
  margin-left: 8px;
  width: 250px;
}

.comment_author {
  float: left;
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.comment_author:hover {
  background-color: rgba(223, 123, 130, 0.67);
}

.comment_input_box {
  border-radius: 4px;
  border-style: solid;
  margin-right: 10px;
  border-color: #D4C47F;
  width: 230%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.71);
}

.comment_input_container {
  position: absolute;
  bottom: 10px;
}

#user_detail {
  height: 130px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.74);
  margin-left: 210px;
  margin-bottom: 40px;
  border-color: rgba(16, 78, 52, 0.27);
  border-style: solid;
  border-width: 12px;
  border-radius: 7px;
}

.user_detail_username {
  font-size: 50px;
  float: left;
  padding: 20px;
  margin-left: 50px;
  color: rgba(11, 12, 1, 0.46);
}

.current_user_detail {
  font-size: 50px;
  float: left;
  padding: 20px;
  margin-left: 300px;
  color: rgba(11, 12, 1, 0.46);
}

.follow_button {
  float: left;
  font-size: 30px;
  padding: 10px;
  margin-top: 23px;
  margin-left: 240px;
  border-style: solid;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.18);
  border-width: 2px;
  color: rgba(11, 109, 199, 0.51);
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.follow_button:hover {
  background-color: rgba(245, 21, 37, 0.35);
}

.post_form {
  position: relative;
  width: 1000px;
  height: 100%;
  margin-left: 150px;
}

.post_form_image {
  float: left;
  width: 500px;
}

.post_form_header {
  float: left;
  width: 300px;
  height: 100px;
  margin-left: 112px;
  margin-bottom: 40px;
  padding: 5px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.57);
  border-color: rgba(66, 136, 112, 0.4);
  color: rgba(102, 125, 146, 0.83);
  font-size: medium;
  font-family:'Old Standard TT', serif;
  font-style: italic;
}

.post_form_caption {
  float: left;
  margin-right: 100px;
  margin-left: 151px;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.57);
  border-color: rgba(66, 136, 112, 0.4);
  color: rgba(234, 84, 95, 0.83);
  font-size: medium;
  font-family:'Old Standard TT', serif;
  font-style: italic;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.post_form_caption:hover {
  background-color: rgba(13, 12, 123, 0.37);
}

ul {
  list-style-type: none;
  width: 100%;

}

html {
  background: url(http://img05.deviantart.net/5ca5/i/2014/094/e/b/steampunk_concept_by_tyleredlinart-d7czbvr.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}
