/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

 html, body, section, article,
h1, h2, p, strong, em, a, ul {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  margin-top: 80px;
}

.logins {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logins_header {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

.logins_switch {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indexPostPicture {
  float: left;
  padding: 20px;
}

.post_index_ul {
  width: 1000px;
  position: relative;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.post_show_caption {
  float: left;
  padding: 20px 30px;
  width: 400px;
  overflow: auto;
  box-sizing: border-box;
}

.post_show_picture {
  float: left;
  width: 600px;
}


.show_div {
  position: relative;
  width: 1000px;
  height: 100%;
  background: rgba(255, 255, 255, 0.73);
  top: 50%;
  left: 48%;
  transform: translate(-50%);
}


.feed_item {
  width: 540px;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 300px;
  border-color: rgba(35, 62, 39, 0.26);
  border-width: 20px;
  border-style: solid;
}

.feed_item_username {
  padding: 10px;
  font-style: oblique;
  border-radius: 10px;
  float: left;
  width: auto;
  margin: 20px;
  border-style: solid;
  color: #686D4F;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.feed_item_username:hover {
  background: salmon;
}

.feed_item_caption {
  float: left;
  padding: 35px 30px 30px 65px;
  color: rgb(104, 109, 79);
}

*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.bar {
  top: 0%;
  margin: 0;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: hsla(202, 25%, 68%, 0.63);
  padding: 10px;
  z-index: 50;
}

.icon {
  float:left;
  margin-left: 20px;
}

.logout {
  float: right;
}

.navbar-ul {
  margin: 0;
}

.search {
  float: right;
  padding-right: 200px;
}

.comments_section {
  float: left;
  padding-left: 30px;
}

.comment_index {
  float: left;
  width: 370px;
  height: 460px;
}

.single_comment {
  border-style: solid;
  margin-right: 30px;
  border-radius: 7px;
  border-color: rgba(163, 172, 214, 0.6);
}

#delete_icon {
  float: right;
  margin: 8px;
}

.comment_content {
  float: left;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 8px;
}

.comment_author {
  float: left;
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.comment_author:hover {
  background-color: rgba(223, 123, 130, 0.67);
}

.comment_input_box {
  border-radius: 4px;
  border-style: solid;
  margin-right: 10px;
  border-color: #D4C47F;
}

#user_detail {
  height: 130px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.74);
  margin-left: 210px;
  margin-bottom: 40px;
  border-color: rgba(16, 78, 52, 0.27);
  border-style: solid;
  border-width: 12px;
  border-radius: 7px;
}

.user_detail_username {
  font-size: 50px;
  float: left;
  padding: 20px;
  margin-left: 50px;
}

.follow_button {
  float: left;
  font-size: 30px;
  padding: 10px;
  margin-top: 23px;
  margin-left: 240px;
  border-style: solid;
  border-radius: 9px;
  border-color: rgba(0, 0, 0, 0.18);
  border-width: 2px;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.follow_button:hover {
  background-color: rgba(245, 21, 37, 0.35);
}

ul {
  list-style-type: none;
  width: 100%;

}

html {
  background: url(http://img05.deviantart.net/5ca5/i/2014/094/e/b/steampunk_concept_by_tyleredlinart-d7czbvr.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix:after {
  content: ""; /* Empty content string */
  display: block; /* Only block elements can clear */
  clear: both;
}
