/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logins {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logins_header {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

.logins_switch {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  background: url(http://img05.deviantart.net/5ca5/i/2014/094/e/b/steampunk_concept_by_tyleredlinart-d7czbvr.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: Steampunk;
  src: url('http://www.fontsaddict.com/fontface/steampunk-font-by-hannarb.ttf');
}
